@CHARSET "ISO-8859-1";
form{
	background-color: antiquewhite ;
	width: 50%;
	margin-top: 0%;
	margin-left: 10%;
	padding-top: 1%;
	padding-bottom: 1%;
	padding-left: 1%;
}
input.button{
	background-color: darkgray;
}
div.clear-fix{
	padding-top: 2%;
}

div.search{
	background-color: antiquewhite ;
	margin-left: 10%;
	width: 70%;
	padding-left: 1%;
}

div.table-responsive{
	overflow-y:scroll;
	height: 200px;
}

table th{
 background-color: bisque;
}
table tr{
 background-color: cornsilk;
}
div.heading{
	background-color: darksalmon;
	height: 50px;
}


